body {
    background-color:  #575761;
    background-image: url(super-moon.png);
    background-position: center;
    background-repeat: no-repeat;
}

#hero-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 4px;
}