h1 {
    padding: 0.2em;
}

/* Classes */
.column {
    text-align: center;
}

.subtext {
    padding: 0.2em;
}

/* IDs */
header {
    padding: 1em;
}
footer {
    position: absolute;
    bottom: 0;
}
#nav-target {
    padding: 1em 0;
}
