{{ partial "header.html" . }}

<body>
    <div class="container">

        <div id="main">
            {{ partial "navbar.html" . }}

            <div class="row">
                <div class="column">
                    <div class="person-title">
                    <h1>{{ .Title }}</h1>
                    </div>
                    <img class="avatar" height="150" width="150" src="{{ .Params.image }}"></img> 
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div class = "person-content">
                    <p>{{ .Content }}</p>
                </div>
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
    </div>
</body>
