<html>
    {{ partial "header.html" . }}

    <body>
        <div class="container">
            <div id="main">
                {{ partial "navbar.html" . }}

 
                    <div class="hero-container"> 
                        <div id="hero-text">moonshots</div>
                        <div id="hero-image">
                            <img src="{{ .Site.BaseURL }}/img/super-moon.png">
                        </div>    
                        <p class="subtext"> <strong>Stay delightful.</strong></p>
                    </div>
                    
                    <div class="column column-75">
                    </div>
                </div>
            </div>

            {{ partial "footer.html" . }}
        </div>
    </body>
</html>
