<html>
    {{ partial "header.html" . }}

    <body>
        <div class="container">
            <div id="main">
                
            <div id="nav-text">
                {{ partial "navbar.html" . }}
            </div>

            <div class="column"> 
                <div class="hero-container"> 
                    <div id="hero-text">moonshots</div>
                    <div id="hero-image">
                        <img src="{{ .Site.BaseURL }}/img/super-moon.png">
                    </div>
                    </div>
                    

            </div>


                <!--<div class="column column-75">
                    {{ range .Data.Pages }}
                        <p>{{ .Render }}</p>
                    {{ end }}

                </div> -->
</div>

        </div>
    </body>
</html>
